.btn-circle {
	position: relative;
	display: block;
	width: 160px;
	height: 160px;
	margin: 35px;
	padding: 0 35px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	background: var(--gradient) no-repeat 50% / cover;
	border: none;
	border-radius: 50%;
	transition: all 0.1s ease-in;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	@include hg {
		width: 120px;
		height: 120px;
		margin: 25px;
		padding: 0;
		font-size: 14px;
	}

	@include xs {
		width: 90px;
		height: 90px;
		font-size: 12px;
	}

	@media (hover: hover) {

		&:hover {

			&::before,
			&::after {
				width: 100%;
				height: 100%;
				background: none;
				animation: pulse 2s ease-in 0.2s infinite;
			}

			&::after {
				animation-delay: 1s;
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	&:active {
		opacity: 0.8;
	}

	&::before,
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		border: 2px solid var(--secondary);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		transition: var(--transition);
		content: "";
	}

	&::before {
		width: 140%;
		height: 140%;
		background: rgba(255, 179, 66, 0.2);
	}
}

.btn-prev,
.btn-next {
	position: absolute;
	top: 50%;
	z-index: var(--ui-index-1);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 65px;
	padding: 0;
	background: #fff;
	border: none;
	border-radius: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: var(--transition);

	@include hg {
		width: 50px;
		height: 50px;
	}

	@include xs {
		width: 40px;
		height: 40px;
	}

	&:active {
		background: #f0f0f0;
	}

	&.swiper-button-disabled {
		cursor: default;

		svg {
			opacity: 0.3;
		}

		&:hover {

			svg {
				transform: none;
			}
		}

		&:active {
			background: #fff;
		}
	}

	svg {
		color: var(--secondary);
		transition: var(--transition);

		@include xs {
			width: 18px;
			height: auto;
		}
	}
}

.btn-prev {
	left: 0;

	@media (hover: hover) {

		&:hover {

			svg {
				transform: translateX(-10px);
			}
		}
	}
}

.btn-next {
	right: 0;

	@media (hover: hover) {

		&:hover {

			svg {
				transform: translateX(10px);
			}
		}
	}
}

@keyframes pulse {

	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(1.4);
		opacity: 0;
	}
}
