.contacts {
	position: relative;
	background: url(assets/images/contacts-bg.jpg) no-repeat 50% / cover;

	@include md {
		background-position: 60% 50%;
	}

	@include sm {
		background: url(assets/images/contacts-mobile-bg.jpg) no-repeat 50% / cover;
	}

	@include xs {
		background:
			url(assets/images/contacts-child-bg.jpg) no-repeat 50% bottom / 100% auto,
			url(assets/images/contacts-mobile-bg.jpg) no-repeat 50% / cover;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;
		padding: 100px 0 60px;

		@include lg {
			gap: 30px;
			padding: 75px 0 50px;
		}

		@include lg {
			padding: 60px 0 50px;
		}

		@include sm {
			grid-template-columns: 1fr;
			padding: 40px 0;
		}

		@include xs {
			padding: 40px 0 85vw;
		}
	}

	&__info {
		position: relative;
		z-index: var(--ui-index-1);
	}

	&__label {
		color: var(--fc-light);
		font-size: 30px;

		@include sm {
			font-size: 24px;
			text-align: center;
		}

		@include xs {
			font-size: 22px;
		}
	}

	&__socials {
		margin-top: 50px;

		@include md {
			margin: 0;
		}
	}

	&__socials-wrapper {
		max-width: 420px;
		margin: 40px 0 0;
		padding-left: 90px;

		@include md {
			margin: 30px 0 0;
			padding-left: 40px;
		}

		@include sm {
			margin: 30px auto 0;
			padding: 0;
		}

		&::before {
			top: 25px;
			width: 65px;
			transform: none;

			@include md {
				width: 30px;
			}

			@include sm {
				display: none;
			}
		}
	}

	&__socials-link {
		display: flex;
		gap: 10px;
		align-items: center;
		color: var(--fc-light);
		font-size: 30px;
		text-decoration: none;
		transition: var(--transition);

		@include hg {
			font-size: 26px;
		}

		@include md {
			font-size: 22px;
		}

		@include sm {
			justify-content: center;
		}

		@include xs {
			justify-content: flex-start;
			font-size: 30px;
		}

		@media (hover: hover) {

			&:hover {
				color: var(--secondary);
			}
		}

		img {
			display: none;
			flex-shrink: 0;
			order: 1;

			@include xs {
				display: block;
			}
		}

		svg {
			flex-shrink: 0;

			@include xs {
				display: none;
			}
		}
	}

	&__socials-desc {
		margin-top: 10px;
		padding-left: 50px;
		color: var(--fc-light);
		font-weight: 400;
		font-size: 15px;
		font-family: var(--font-secondary);

		@include md {
			padding: 0;
		}

		@include sm {
			text-align: center;
		}

		@include xs {
			max-width: 240px;
			text-align: left;
		}
	}

	&__form {
		position: relative;
		z-index: var(--ui-index-1);
		display: flex;
		margin-left: auto;
		text-align: left;

		@include md {
			padding: 30px 40px 100px;
		}

		@include sm {
			margin: 0 auto 90px;
		}

		.main-form__title {
			@include sm {
				text-align: center;
			}
		}

		.main-form__text {
			@include sm {
				text-align: center;
			}
		}

		.main-form__policy {
			@include sm {
				text-align: center;
			}
		}
	}
}
