.footer {
	position: relative;
	margin-top: auto;
	overflow: hidden;
	box-shadow: 0 10px 40px rgba(#000, 0.3);

	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		width: fit-content;
		height: fit-content;
		color: rgba(#ebf3ff, 0.5);
		font-size: 306px;
		line-height: 0.6;
		text-transform: uppercase;
		transform: translateX(-50%);
		content: "Школа";

		@include hg {
			font-size: 240px;
		}

		@include md {
			font-size: 185px;
		}

		@include xs {
			font-size: 120px;
		}
	}

	&__container {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: space-between;
		padding: 50px 0 70px;

		@include hg {
			padding: 40px 0;
		}

		@include md {
			padding: 30px 0;
		}

		@include sm {
			display: grid;
			grid-template-columns: 70px 1fr;
			gap: 10px 30px;
			padding: 20px 0;
		}

		@include xs {
			gap: 10px;
		}
	}

	&__logo {
		display: block;
		flex-shrink: 0;
		width: 70px;
		height: 70px;
		background: url(assets/images/logo-main.png) no-repeat 50% / cover;
		cursor: pointer;
		transition: var(--transition);

		@include sm {
			grid-row: 1/4;
		}

		@include mouse {

			&:hover {
				scale: 1.05;
			}
		}
	}

	&__policy,
	&__public-offer,
	&__map {
		display: block;
		color: var(--primary);
		font-size: 18px;
		font-family: var(--font-secondary);

		@include lg {
			font-size: 16px;
		}

		@include xs {
			font-size: 14px;
		}

		&:active {
			opacity: 0.8;
		}
	}

	&__policy {
		max-width: 315px;

		@include sm {
			max-width: none;
		}
	}

	&__public-offer {
		margin-top: 15px;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.menu-item {

			> a {
				display: block;
				color: var(--primary);
				font-size: 18px;
				font-family: var(--font-secondary);

				@include lg {
					font-size: 16px;
				}

				@include xs {
					font-size: 14px;
				}
			}
		}
	}

	&__box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px 30px;
		align-items: center;

		@include md {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			text-align: right;
		}

		@include sm {
			grid-row: 3/4;
			align-items: flex-start;
			text-align-last: left;
		}
	}

	&__text {
		grid-column: span 2;
		max-width: 400px;
		font-size: 16px;
		font-family: var(--font-secondary);
		text-align: center;

		@include md {
			max-width: 300px;
			text-align: right;
		}

		@include sm {
			max-width: none;
			text-align: left;
		}

		@include xs {
			font-size: 14px;
		}
	}

	&__map {
		display: flex;
		gap: 15px;
		align-items: center;
		max-width: 205px;

		@include md {
			display: none;
		}

		span {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			background: var(--gradient) no-repeat 50% / cover;
			border-radius: 50%;

			@include xs {
				width: 24px;
				height: 24px;
			}

			svg {
				@include xs {
					width: 8px;
					height: 10px;
				}
			}
		}
	}

	&__rights {
		max-width: 200px;
		font-size: 18px;
		font-family: var(--font-secondary);

		@include lg {
			font-size: 16px;
		}

		@include sm {
			max-width: none;
		}

		@include xs {
			font-size: 14px;
		}
	}
}
