.map {
	position: relative;

	&::before {
		position: absolute;
		top: -60px;
		right: 0;
		width: 42vw;
		height: auto;
		aspect-ratio: 17/11;
		background: url(assets/images/ribbon--red.png) no-repeat 50% / cover;
		content: "";

		@include hg {
			top: 0;
			width: 30vw;
		}

		@include lg {
			display: none;
		}
	}

	&__container {
		display: flex;
		gap: 55px;
		align-items: flex-end;
		padding: 75px 0 40px;

		@include md {
			padding: 40px 0;
		}

		@include xs {
			flex-direction: column;
			gap: 15px;
			align-items: center;
			padding: 20px 0;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 18px;
		font-family: var(--font-secondary);

		@include xs {
			margin-bottom: 15px;
			color: #656565;
			font-size: 14px;
			text-align: center;
		}
	}

	&__mall {
		font-size: 33px;

		@include md {
			font-size: 28px;
		}

		@include sm {
			font-size: 24px;
		}

		@include xs {
			font-size: 22px;
			text-align: center;
		}
	}

	&__address {
		display: flex;
		gap: 15px;
		align-items: center;
		max-width: 280px;
		font-size: 16px;
		font-family: var(--font-secondary);

		@include xs {
			gap: 5px;
			max-width: none;
			font-size: 14px;
		}

		span {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			background: var(--gradient) no-repeat 50% / cover;
			border-radius: 50%;

			@include xs {
				width: 24px;
				height: 24px;
			}

			svg {
				@include xs {
					width: 8px;
					height: 10px;
				}
			}
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 765px;
		padding: 50px 0;

		@include md {
			flex-direction: column;
			min-height: auto;
			padding: 0;
		}
	}

	&__info {
		position: relative;
		z-index: var(--ui-index-1);
		width: 500px;
		height: fit-content;
		margin: 0 15.5vw 0 auto;
		padding: 45px 50px;
		background: #fff;
		border-radius: 40px;
		box-shadow: 0 0 15px 0 rgba(#000, 0.1);

		@include hg {
			margin: 0 1.5rem 0 auto;
		}

		@include md {
			width: 100%;
			margin-bottom: -40px;
		}

		@include xs {
			padding: 35px 25px;
		}
	}

	&__label {
		color: #292929;
		font-weight: 700;
	}

	&__info-tabs {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
	}

	&__info-tab {
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;
		padding: 20px 20px 15px;
		color: #8b8b8b;
		font-weight: 700;
		font-size: 14px;
		text-align: center;
		cursor: pointer;

		svg {
			width: auto;
			height: 40px;
			color: var(--primary);
		}

		&.active {
			background-color: rgba(#d9d9d9, 0.2);
			cursor: default;

			svg {
				color: var(--fc-dark);
			}
		}
	}

	&__list {
		display: none;
		flex-direction: column;
		gap: 10px;
		margin-top: 15px;

		&.active {
			display: flex;
		}
	}

	&__item,
	&__parking {
		font-size: 16px;
		font-family: var(--font-secondary);

		@include md {
			font-size: 16px;
		}
	}

	&__item {
		display: flex;
		gap: 10px;

		svg {
			flex-shrink: 0;
			margin-top: -2px;
		}

		span {
			flex-shrink: 0;
			margin-left: auto;
			font-size: 16px;
		}
	}

	&__parking {
		display: flex;
		gap: 10px;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid #d9d9d9;

		@include xs {
			margin-top: 20px;
			padding-top: 20px;
		}

		svg {
			flex-shrink: 0;
			color: var(--primary);
		}
	}

	&__holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(assets/images/map-bg.jpg) no-repeat 70% 50% / cover;

		@include hg {
			background-position: -380px 50%;
		}

		@include md {
			position: static;
			min-height: 600px;
			background-position: 25% 50%;
		}

		@include sm {
			background-position: 30% 50%;
		}

		@include xs {
			min-height: 400px;
		}
	}
}

