.price {
	padding-bottom: 70px;
	overflow: hidden;
	background: url(assets/images/price-bg.jpg) no-repeat 50% / cover;

	@include hg {
		padding-bottom: 50px;
	}

	@include md {
		padding-bottom: 30px;
	}

	&__title {
		@include xs {
			font-size: 60px;
		}
	}

	&__label {
		padding-top: 90px;
		color: var(--fc-light);
		font-size: 30px;
		text-align: center;

		@include md {
			padding-top: 40px;
			font-size: 24px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px 20px;
		margin-top: 30px;

		@include md {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 45px 40px;
		background-color: var(--bg-primary);
		border-radius: 15px;

		@include lg {
			padding: 25px 20px;
		}

		@include xs {
			padding: 15px 10px;
		}

		&:nth-child(even) {
			@include xs {
				order: 1;
			}
		}
	}

	&__item-btn {
		display: flex;
		gap: 20px;
		align-items: center;
		width: 100%;
		padding: 0;
		background: none;
		border: none;
		cursor: default;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		@include xs {
			gap: 15px;
		}

		&.js-accordion-btn {
			cursor: pointer;

			.price__item-arrow {
				transform: none;
			}

			@media (hover: hover) {

				&:hover {

					.price__item-arrow {
						color: var(--secondary);
					}
				}
			}
		}

		&.active {

			.price__item-arrow {
				rotate: 180deg;
			}

			+ .price__item-desc {
				margin-top: 20px;
			}
		}
	}

	&__item-arrow {
		flex-shrink: 0;
		color: var(--primary);
		transform: rotate(-90deg);
		transition: var(--transition);
	}

	&__item-label,
	&__item-value {
		font-weight: 600;
		font-size: 26px;

		@include hg {
			font-size: 22px;
		}
	}

	&__item-label {
		color: var(--fc-dark);
		text-align: left;

		@include xs {
			font-size: 16px;
		}
	}

	&__item-value {
		flex-shrink: 0;
		margin-left: auto;
		color: var(--primary);

		@include xs {
			font-size: 20px;
		}
	}

	&__item-desc {
		max-height: 0;
		margin: 0;
		overflow: hidden;
		transition: var(--transition);

		@include xs {
			font-size: 16px;
		}
	}

	&__button {
		margin: 55px auto 35px;

		@include hg {
			margin: 40px auto 25px;
		}
	}
}
