.title {
	position: absolute;
	top: 0;
	left: 50%;
	width: fit-content;
	height: fit-content;
	margin: 0;
	color: rgba(#fff, 0.2);
	font-size: 220px;
	line-height: 0.7;
	white-space: nowrap;
	text-transform: uppercase;
	transform: translateX(-50%);

	@include hg {
		font-size: 175px;
	}

	@include lg {
		font-size: 130px;
	}

	@include md {
		font-size: 100px;
	}

	@include sm {
		font-size: 80px;
	}

	@include xs {
		font-size: 50px;
	}
}
