@font-face {
	font-weight: 500;
	font-family: FiraSans;
	font-style: normal;
	src:
		url(assets/fonts/FiraSans-Medium.woff2) format("woff2"),
		url(assets/fonts/FiraSans-Medium.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 600;
	font-family: FiraSans;
	font-style: normal;
	src:
		url(assets/fonts/FiraSans-SemiBold.woff2) format("woff2"),
		url(assets/fonts/FiraSans-SemiBold.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: Manrope;
	font-style: normal;
	src:
		url(assets/fonts/Manrope-Regular.woff2) format("woff2"),
		url(assets/fonts/Manrope-Regular.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 500;
	font-family: Manrope;
	font-style: normal;
	src:
		url(assets/fonts/Manrope-Medium.woff2) format("woff2"),
		url(assets/fonts/Manrope-Medium.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 600;
	font-family: Manrope;
	font-style: normal;
	src:
		url(assets/fonts/Manrope-SemiBold.woff2) format("woff2"),
		url(assets/fonts/Manrope-SemiBold.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: Manrope;
	font-style: normal;
	src:
		url(assets/fonts/Manrope-Bold.woff2) format("woff2"),
		url(assets/fonts/Manrope-Bold.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 800;
	font-family: Manrope;
	font-style: normal;
	src:
		url(assets/fonts/Manrope-ExtraBold.woff2) format("woff2"),
		url(assets/fonts/Manrope-ExtraBold.woff) format("woff");
	font-display: swap;
}
