@font-face {
	font-weight: 300;
	font-family: "Cormorant Unicase";
	font-style: normal;
	src:
		url(assets/fonts/CormorantUnicase-Light.woff2) format("woff2"),
		url(assets/fonts/CormorantUnicase-Light.woff) format("woff");
	font-display: swap;
}
