:root {
	// FONTS
	--font-primary: "Manrope", "Arial", sans-serif;
	--font-secondary: "FiraSans", "Arial", sans-serif;

	//COLORS
	--primary: #1e5fbf;
	--secondary: #ffb342;

	--fc-dark: #4b4b4b;
	--fc-light: #fff;

	--bg-primary: #c9e1f5;

	//Transition
	--transition: all 0.3s ease;

	//Z-index
	--ui-index-1: 1; // Для наползающих элементов в общем потоке
	--ui-index-2: 2; // Для наползающих элементов в общем потоке
	--ui-index-3: 3; // Для масок
	--ui-index-4: 4; // Для сайдбаров
	--ui-index-5: 5; // Для модалок
	--ui-index-6: 6; // Для эдементов, перекрывающих все
}
