:root {
	// FONTS
	--font-primary: "Montserrat", "Arial", sans-serif;

	//COLORS
	--primary: #ffd600;
}

//Z-index

$ui-index-1: 1; // Для наползающих элементов в общем потоке
$ui-index-2: 2; // Для наползающих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для эдементов, перекрывающих все

//Transition

$transition: all 0.3s ease;
